/*.grid{
	margin: 136px 0;
	.grid-item{
		img{
			width: 100%;
			height: auto;
			margin-bottom: 11px;
		}
	}
	.grid-item__share{
		max-width: 15px;
		max-height: 17px;
	}
	.grid-item__row{
		display: flex;
		justify-content: space-between;
	}
	.grid-item__profile{
		display: flex;
	}
}*/
/*
.grid{
	margin: 136px 0;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	flex-wrap: wrap;
	.grid-item{
		padding: 10px;
		width: 33.33%;

		@media(max-width: 800px){
			width: 50%;
		}

		@media(max-width: 600px){
			width: 100%;
		}

		img{
			width: 100%;
			height: auto;
			margin-bottom: 11px;
		}
	}
	.grid-item__share{
		max-width: 15px;
		max-height: 17px;
	}
	.grid-item__row{
		display: flex;
		justify-content: space-between;
	}
	.grid-item__profile{
		display: flex;
	}
}
*/

.grid{
	margin: 136px 0;
	column-count: 3;
	column-gap: 10px;
	@media(max-width: 800px){
		column-count: 2;
	}
	@media(max-width: 600px){
		column-count: 1;
	}
	.grid-item{
		display: block-block;

		img{
			width: 100%;
			height: auto;
			margin-bottom: 11px;
		}
	}
	.grid-item__share{
		max-width: 15px;
		max-height: 17px;
	}
	.grid-item__row{
		display: flex;
		justify-content: space-between;
	}
	.grid-item__profile{
		display: flex;
	}
}
